
//BG-Colors

$main-body-color: #f9f9fb;
$header-color: #212429;
$footer-color: #212429;
$default-element-bgc : #fff;
$dark-buttons-color: #212121;


//Sizes

$header-height: 55px;
$padding-left-global: 55px;
$padding-right-global: 55px;



// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$hind: 'Hind', serif;
$montserrat: 'Montserrat', sans-serif;
$weak-font: #9f9fa0;
$normal-font :#212121;


///FORMS

$news-form-height:100px;




//header
$nav-logo: 1.5em;
$header-font-color: #ffffff;


//Buttons
$header-button-width: 55px;

//Global

$main-width: 68%;
$sidebar-width: 31%;

